<app-wrapper>
  <section class="h-[calc(100dvh-4.5rem)] p-2 md:p-8">
    <div class="relative flex flex-col h-full justify-center">
      <!-- <div class="absolute top-0 bottom-0 m-auto h-fit -z-0">
        <app-masked-container>
          <app-mosaic></app-mosaic>
        </app-masked-container>
      </div> -->

      <div class="relative flex flex-col gap-y-3 z-10 pointer-events-none">
        <h1 class="text-[9rem] md:text-[16rem] leading-none z-10">Hey.</h1>
        <span class="text-md md:text-lg font-medium pl-6">
          - Solo soy yo,
          <b class="underline decoration-dotted underline-offset-4"
            >Nicolás Frías</b
          >, un desarrollador de software</span
        >
      </div>

      <button
        class="absolute bottom-8 right-0 w-fit flex gap-x-2 text-lg"
        variant="ghost"
        (click)="handleScrollDown()"
        hlmBtn
      >
        Bajar
        <ng-icon class="!size-6" name="lucideArrowDown" hlm />
      </button>
    </div>
  </section>
</app-wrapper>
