<app-wrapper>
  <section class="h-[calc(100dvh-4.5rem)] p-8">
    <div class="relative flex flex-col h-full justify-center">
      <!-- <div class="absolute top-0 bottom-0 m-auto h-fit -z-0">
        <app-masked-container>
          <app-mosaic></app-mosaic>
        </app-masked-container>
      </div> -->

      <div class="relative flex flex-col gap-y-3 z-10 pointer-events-none">
        <h1 class="text-[16rem] leading-none z-10">Hey.</h1>
        <span class="text-lg font-medium pl-6"
          >- It's me, <b>Nicolás Frías</b>, a software developer</span
        >
      </div>

      <button
        class="absolute bottom-8 right-0 w-fit flex gap-x-2"
        variant="ghost"
        (click)="handleScrollDown()"
        hlmBtn
      >
        Scroll down
        <ng-icon class="!size-5" name="lucideArrowDown" hlm />
      </button>
    </div>
  </section>
</app-wrapper>
