<app-wrapper>
  <section class="min-h-[100dvh] p-2 md:p-8">
    <div class="flex flex-col gap-y-8">
      <div class="flex flex-col items-center gap-y-4">
        <h3 class="text-4xl font-medium">Portfolio</h3>
        <span variant="secondary" size="lg" hlmBadge
          >&#x2022; Latest projects</span
        >
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        @for (item of gridItems; track item ) {
        <div
          class="bg-foreground aspect-square relative shadow-md text-white group {{
            !item.imageUrl && 'hidden md:block'
          }}"
        >
          @if (item.imageUrl) {
          <img
            src="{{ item.imageUrl }}"
            class="absolute h-full object-cover grayscale group-hover:grayscale-0 transition-all duration-1000"
          />

          <div class="absolute left-8 top-8">
            <h3 class="text-lg font-medium">
              {{ item.title }}
            </h3>

            <span>Website</span>
          </div>

          <div
            class="absolute inset-0 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-500"
          >
            <button size="icon" hlmBtn>
              <ng-icon hlm size="lg" name="lucideArrowUpRight" />
            </button>

            <span class="absolute right-8 bottom-8 text-lg font-light">{{
              item.linkTitle
            }}</span>
          </div>
          }
        </div>
        }
      </div>

      <div class="flex items-center justify-center">
        <span class="mr-6">Check out more </span>
        <ng-icon name="lucideArrowRight" hlm />
        <button class="font-bold" variant="link" hlmBtn>Github</button>
      </div>
    </div>
  </section>
</app-wrapper>
