<div
  #mosaicGrid
  class="mosaic-grid ml-auto grid w-fit bg-foreground gap-[1px]"
  [style.grid-template-columns]="'repeat(' + this.grid.columns + ', 1fr)'"
  [style.grid-template-rows]="'repeat(' + this.grid.rows + ', 1fr)'"
  (mousemove)="throttledMouseOver($event)"
>
  @for (mosaic of mosaics; track mosaic.id; let idx = $index ) {
  <div
    #mosaicElem
    id="{{ mosaic.id }}"
    class="mosaic-elem bg-background"
    attr.data-index="{{ idx }}"
    [style.width.px]="grid.elemSize"
  ></div>
  }
</div>
