<div class="ascii-container overflow-hidden">
  <pre>
....................................................................................................
.----------------------------------------------..........------------------------------------------.
.-------------------------------------------.................-------------------------------------..
.-----------------------------------------....-#######+##+-#..-------------------------------------.
.-----------------------------------------..+#############++#...-----------------------------------.
.---------------------------------------...-#-################-...---------------------------------.
.---------------------------------------..######################...--------------------------------.
.--------------------------------------...###-.....---++#########-.-------------------------------..
.------.------------.-----------------...####---++++++-.....####...--------------------------------.
.-------------------------------------.-####-........-++--...###+..--------------------------------.
.------------------------------------..-+#+..+#####++++-.....###..----.--..------------------------.
.-------------------------------......-#+#..#########.######.##+..-----------------------------.---.
.------------------------------------.+##+.---+####--.######.###-.---------------------------------.
.------------------------------------.-+#+.---.---..+..-#+--.#-.-.---------------------------------.
.-------------.--------------.-------..-#+..---++-..-..#.....##-..---------------------------------.
.-------------------------------------...--..+##+###++.##-...#...----------------------------------.
.--------------------------------------.-###.############...##..-----------------------------------.
.-------------------------------------...###-++..+##-.+##.-#+...-----------------------------------.
.--------------------------------------...#####---.......###..-------------------------------------.
.-------------------------------------....-################...-------------------------------------.
.-----------------------------------....#-.+#############+....-------------------------------------.
.----------------------.---------.....+#-#....##########+.##......---------------------------------.
.----------------------------......-####.-#--+............#####.......-----------------------------.
.------------------------.......-####+##..##+#+.-+-.-+--#+-#######.......--------------------------.
.--------------------........###########-..-######++#####.-##########+..........-------------------.
.--------.----.-.........#########+#####.+-.....-###+++##.+###############+++.....-----------------.
.-----------.--....+##########++########.-------..##++##+.######################...----------------.
.--------------..#######################..---+--.-#--+#...#######################....--------------.
.-------------..-#######################..------.-#.+#+...########################-..--------------.
.-----------...-########################-.----.-.-#-##..+.#########################..--------------.
.-----------..-#########################...---.-.-###..++.#####################+###+..-------------.
....--.-----.-##########################.-.----+.-##..++-.###########################..------------.
.----------..###########################-.-.--.-.-#..+--..##################+####+####.------------.
.--.-------..###+####+###################.+-.---.#+.---..+################+#+#####+##-...---.------.
.----------.-############################.-------..--.--.+########################++##..-----.-----.
.---------...##+######+##################.-.--.--.---+--.-#######+######++#+######+#-##.-..--------.
.---------..+#-+########+#########+######.-+....-.+-----.+################++######++#-#.-----------.
.---------..##-##########################....####.------.-###############++#######++##+.............
.---------..#++###########+++############...#####.-+----.-################+########++##..-------....
............#.######+####+++########+####..-##-##..-----.+###########+#++++########+-##..----------.
.---------.+#-##########+++##############..-#####.--++--.-#####++######+#++#########-+#+...--.-----.
.--------..+-###########++##########+####.-....#-.--.+--.-#########+###+++###########-##..---------.
.--------..++###########++###############......#--.-.+--.-####++########++#######+###++#............
.--------..+#############+###############...######.-.-#-.-##############++########+###+#..++-..--++.
...------..##############################..#######.--.++..####+#####+#+##+########+#####-.-----++--.
.--------..#############.################..+######.-+--#-.####+#####+###+########+++####...--..----.
..------..+#############.################.-.###.##.---.+#.###++#########+#.#########++##-..-------..
.-----...-##############.###############+.-.....--.---.-#.###+###+########-.###########+-..-..-.....
.--++-+-.##############..###++##########-.----..+.--++..++-##+######+######..############+..-------.
.........##+########+++..###############..------+.--.#-..++#+############+#.##############-.-------.
....---..##++###########.+############+#--.-----+.+-.++-.-+####+#########+#.-##########++#..-------.
.-----...+##############-.##############++-.----+..-..##-..##########+###+##########+##+#-..........
.-------..+##########++#+.##############+#------+----..+##.############+#+###########+###...-.......
.....--....############...+#############-++--.--++-----..###++#######+###+#.############+..-+---....
.--------...#############..#############.+++-----+------...##########+##+###########+###..-+----+++.
.--------..+############################.++++-------------.#########+##++##-###########+..-++------.
.--------..+###########################..--+++-----+#-----..#######++##+###+#####+######.--+++++-++.
.---------..####+#########++++#########.-----+------+--+---.#+####+++#+###+-######++###...-----+-.-.
.--------.-..-############-##+#####-##+.----------------+++.#######++##+##++####+#####-..--.-------.
.-------......############-##+#####+###.---------------.---.+++#####+##++#++##########..------.--...
.------------..+##############+######.--------------....-----#-#########++-##########...............
.-----+++++---..+##############+####..+##--..-.-+-+--+-.####-##+###############+####..------++-----.
....--.......--..###############+#####..-.--........-......-#.#++##+#+###+#####-+##...---........--.
.-------...----...###############+###########-###############+###+++##+##+#####+-##...---++++++++++.
.---------------..+##############+######+.########......######.####+############+#+.++----..........
.----------------..+####.#########+#####.#########...-..######.#+##+#############...........------..
.-----------------.+##...###############-+------+######+#####+##########+########-..---------------.
.-----------------..############+###++-+#+++++---++#++##++++++++########+#########-.-----.---..--...
......----...-----........+####+###++#+++++++######++-#+#+++#######################.------...----...
.----------+-++------...-.+###+###+-++++++++++++++++++#+#+++#+++#######+##########.....------------.
.++++--------..---......+.-#######+######+++++++++++++++##+#####+######+#########..-------...------.
.++++++----------.----+.+..######-++++-----+++++++#++++-#++++-+---#####+########..---....---------+.
........-----....-+++-..+.+####-.-++++++++++++++---+--.-+-----++###############..---++-+++---------.
.---.....--..-+-.-----..+.-....-+##++++++++++++++##----#+++#####-...##+#######..++---.---..-------..
.----+#-...---+--...-...+-+-+#++++++++++++++######..+++####+-..-##+..#######...-...----------------.
.-.---------.....---..#.--#+++++##+++++++------.##..-+#+-...#####---...####...---------------------.
.---++----..-+#+---+-+--+-#++##++++++++++++++++.++-##...+#####++-+#+.-......--------------++----..-.
....--+++++----......--.+-+++#+++----------.....##+..+###+++++++###..#+.+...-------..-------...----.
.++++---........----..#++-++++++#++++++-..-+#####--####+++#+##+++#+..#+--.-----.....-++-----++++---.
.-........-.--------......-#+#+####--.-####++####.###+#++++++##-+#-.+#-..--+++-.--++++----..........
..-----------------..##+###+++++++-.-+#-..-+##.#-######+++++##.+##..##-.---...---...........-.......
.---++----....-.--...---#####+-+++......--++##.#+###+++++####--##+..##.....-------+##--.............
..............................-..-.............#++-.................................................
    </pre
  >
</div>
