<div class="ascii-container overflow-hidden relative shadow-xs border">
  <img
    src="/imgs/portrait.jpg"
    alt="ASCII Portrait"
    class="absolute h-full object-cover z-0"
  />

  <pre class="z-10 glass bg-background/50 pointer-events-none">
....................................................................................................
.----------------------------------------------..........------------------------------------------.
.-------------------------------------------.................-------------------------------------..
.-----------------------------------------....-#######+##+-#..-------------------------------------.
.-----------------------------------------..+#############++#...-----------------------------------.
.---------------------------------------...-#-################-...---------------------------------.
.---------------------------------------..######################...--------------------------------.
.--------------------------------------...###-.....---++#########-.-------------------------------..
.------.------------.-----------------...####---++++++-.....####...--------------------------------.
.-------------------------------------.-####-........-++--...###+..--------------------------------.
.------------------------------------..-+#+..+#####++++-.....###..----.--..------------------------.
.-------------------------------......-#+#..#########.######.##+..-----------------------------.---.
.------------------------------------.+##+.---+####--.######.###-.---------------------------------.
.------------------------------------.-+#+.---.---..+..-#+--.#-.-.---------------------------------.
.-------------.--------------.-------..-#+..---++-..-..#.....##-..---------------------------------.
.-------------------------------------...--..+##+###++.##-...#...----------------------------------.
.--------------------------------------.-###.############...##..-----------------------------------.
.-------------------------------------...###-++..+##-.+##.-#+...-----------------------------------.
.--------------------------------------...#####---.......###..-------------------------------------.
.-------------------------------------....-################...-------------------------------------.
.-----------------------------------....#-.+#############+....-------------------------------------.
.----------------------.---------.....+#-#....##########+.##......---------------------------------.
.----------------------------......-####.-#--+............#####.......-----------------------------.
.------------------------.......-####+##..##+#+.-+-.-+--#+-#######.......--------------------------.
.--------------------........###########-..-######++#####.-##########+..........-------------------.
.--------.----.-.........#########+#####.+-.....-###+++##.+###############+++.....-----------------.
.-----------.--....+##########++########.-------..##++##+.######################...----------------.
.--------------..#######################..---+--.-#--+#...#######################....--------------.
.-------------..-#######################..------.-#.+#+...########################-..--------------.
.-----------...-########################-.----.-.-#-##..+.#########################..--------------.
.-----------..-#########################...---.-.-###..++.#####################+###+..-------------.
....--.-----.-##########################.-.----+.-##..++-.###########################..------------.
.----------..###########################-.-.--.-.-#..+--..##################+####+####.------------.
.--.-------..###+####+###################.+-.---.#+.---..+################+#+#####+##-...---.------.
.----------.-############################.-------..--.--.+########################++##..-----.-----.
.---------...##+######+##################.-.--.--.---+--.-#######+######++#+######+#-##.-..--------.
.---------..+#-+########+#########+######.-+....-.+-----.+################++######++#-#.-----------.
.---------..##-##########################....####.------.-###############++#######++##+.............
.---------..#++###########+++############...#####.-+----.-################+########++##..-------....
............#.######+####+++########+####..-##-##..-----.+###########+#++++########+-##..----------.
.---------.+#-##########+++##############..-#####.--++--.-#####++######+#++#########-+#+...--.-----.
.--------..+-###########++##########+####.-....#-.--.+--.-#########+###+++###########-##..---------.
.--------..++###########++###############......#--.-.+--.-####++########++#######+###++#............
.--------..+#############+###############...######.-.-#-.-##############++########+###+#..++-..--++.
...------..##############################..#######.--.++..####+#####+#+##+########+#####-.-----++--.
.--------..#############.################..+######.-+--#-.####+#####+###+########+++####...--..----.
..------..+#############.################.-.###.##.---.+#.###++#########+#.#########++##-..-------..
.-----...-##############.###############+.-.....--.---.-#.###+###+########-.###########+-..-..-.....
.--++-+-.##############..###++##########-.----..+.--++..++-##+######+######..############+..-------.
.........##+########+++..###############..------+.--.#-..++#+############+#.##############-.-------.
....---..##++###########.+############+#--.-----+.+-.++-.-+####+#########+#.-##########++#..-------.
.-----...+##############-.##############++-.----+..-..##-..##########+###+##########+##+#-..........
.-------..+##########++#+.##############+#------+----..+##.############+#+###########+###...-.......
.....--....############...+#############-++--.--++-----..###++#######+###+#.############+..-+---....
.--------...#############..#############.+++-----+------...##########+##+###########+###..-+----+++.
.--------..+############################.++++-------------.#########+##++##-###########+..-++------.
.--------..+###########################..--+++-----+#-----..#######++##+###+#####+######.--+++++-++.
.---------..####+#########++++#########.-----+------+--+---.#+####+++#+###+-######++###...-----+-.-.
.--------.-..-############-##+#####-##+.----------------+++.#######++##+##++####+#####-..--.-------.
.-------......############-##+#####+###.---------------.---.+++#####+##++#++##########..------.--...
.------------..+##############+######.--------------....-----#-#########++-##########...............
.-----+++++---..+##############+####..+##--..-.-+-+--+-.####-##+###############+####..------++-----.
....--.......--..###############+#####..-.--........-......-#.#++##+#+###+#####-+##...---........--.
.-------...----...###############+###########-###############+###+++##+##+#####+-##...---++++++++++.
.---------------..+##############+######+.########......######.####+############+#+.++----..........
.----------------..+####.#########+#####.#########...-..######.#+##+#############...........------..
.-----------------.+##...###############-+------+######+#####+##########+########-..---------------.
.-----------------..############+###++-+#+++++---++#++##++++++++########+#########-.-----.---..--...
......----...-----........+####+###++#+++++++######++-#+#+++#######################.------...----...
.----------+-++------...-.+###+###+-++++++++++++++++++#+#+++#+++#######+##########.....------------.
.++++--------..---......+.-#######+######+++++++++++++++##+#####+######+#########..-------...------.
.++++++----------.----+.+..######-++++-----+++++++#++++-#++++-+---#####+########..---....---------+.
........-----....-+++-..+.+####-.-++++++++++++++---+--.-+-----++###############..---++-+++---------.
.---.....--..-+-.-----..+.-....-+##++++++++++++++##----#+++#####-...##+#######..++---.---..-------..
.----+#-...---+--...-...+-+-+#++++++++++++++######..+++####+-..-##+..#######...-...----------------.
.-.---------.....---..#.--#+++++##+++++++------.##..-+#+-...#####---...####...---------------------.
.---++----..-+#+---+-+--+-#++##++++++++++++++++.++-##...+#####++-+#+.-......--------------++----..-.
....--+++++----......--.+-+++#+++----------.....##+..+###+++++++###..#+.+...-------..-------...----.
.++++---........----..#++-++++++#++++++-..-+#####--####+++#+##+++#+..#+--.-----.....-++-----++++---.
.-........-.--------......-#+#+####--.-####++####.###+#++++++##-+#-.+#-..--+++-.--++++----..........
..-----------------..##+###+++++++-.-+#-..-+##.#-######+++++##.+##..##-.---...---...........-.......
.---++----....-.--...---#####+-+++......--++##.#+###+++++####--##+..##.....-------+##--.............
..............................-..-.............#++-.................................................
    </pre
  >
</div>
