<footer class="w-full">
  <div
    class="bg-accent py-16 flex flex-col items-center justify-center gap-y-2"
  >
    <app-wrapper>
      <span class="text-4xl font-medium">
        Got a vision? Let's bring it to life!</span
      >
      <p class="w-auto max-w-2xl text-center">
        I'm always excited to collaborate on new and innovative projects.
        Whether you're starting from scratch or refining an existing idea
      </p>

      <button
        class="mt-4 px-0 underline decoration-dotted"
        variant="link"
        hlmBtn
      >
        Social medias
      </button>
    </app-wrapper>
  </div>

  <div class="bg-foreground text-background py-16">
    <span>All rights reserved © 2023 Nico Frias</span>
    <span>test&#64;nicofrias.cl</span>
  </div>
</footer>
