@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";
@import "@angular/cdk/overlay-prebuilt.css";
@import "@spartan-ng/brain/hlm-tailwind-preset.css";

:root {
  --font-sans: "nunito", sans-serif;
  --font-karla: "karla", serif;
}

:root {
  --background: 0 0% 95%;
  --foreground: 0 0% 13%;

  --card: 0 0% 98%;
  --card-foreground: 0 0% 13%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 0 0% 13%;
  --primary-foreground: 0 0% 98%;
  --secondary: 0 0% 48%;
  --secondary-foreground: 0 0% 100%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 0 0% 93%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0rem;
  color-scheme: light;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
  color-scheme: dark;
}

@layer base {
  * {
    @apply border-border;
  }

  * {
    font-family: var(--font-karla);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
  }
}

.masked-container {
  position: relative;

  /* Crear máscara circular alrededor del cursor */
  mask-image: radial-gradient(
    circle 200px at var(--x) var(--y),
    black 35%,
    transparent 100%
  );
  -webkit-mask-image: radial-gradient(
    circle 200px at var(--x) var(--y),
    black 35%,
    transparent 100%
  );

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  /* Opcional para controlar cómo se mezcla */
  -webkit-mask-composite: source-in;
  mask-composite: intersect;

  /* Fondo visible solo en el área revelada */
  transition: mask-image 0.1s, -webkit-mask-image 0.1s;
}

.mosaic-grid {
  transform-style: preserve-3d;
  will-change: transform;
  transition: transform 0.1s ease-out;
}

.mosaic-elem {
  position: relative;
  aspect-ratio: 1 / 1;
  transition: filter 0.2s ease, transform 0.2s ease;
  will-change: transform, filter;
}

.ascii-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  pre {
    font-family: monospace;
    line-height: 1;
    margin: 0;
    white-space: pre;
    text-align: center;
    font-size: min(1vw, 12px); /* Escalable con límite máximo */
  }
}
