<div
  #navbar
  class="fixed top-0 w-full px-12 py-4 z-40 transition-colors duration-500"
>
  <nav class="flex items-center gap-x-12">
    <div class="font-extrabold">LOGO</div>

    <ul class="flex items-center gap-x-6">
      @for (item of navbarItems; track item) {
      <li>
        <button
          variant="link"
          routerLink="{{ item.link }}"
          disabled="{{ item.disabled }}"
          routerLinkActive
          hlmBtn
        >
          <a>{{ item.name }}</a>
        </button>
      </li>
      }
    </ul>

    <button class="ml-auto underline decoration-dotted" variant="link" hlmBtn>
      Social medias
    </button>
  </nav>
</div>
