<div
  #navbar
  class="fixed top-0 w-full px-12 py-4 z-40 transition-colors duration-500"
>
  <nav class="flex items-center gap-x-12">
    <div class="font-extrabold">LOGO</div>

    <ul class="flex items-center gap-x-6">
      @for (item of navbarItems; track item) {
      <li>
        <button
          variant="link"
          disabled="{{ item.disabled }}"
          (click)="goTo(item.link)"
          routerLinkActive
          hlmBtn
        >
          {{ item.name }}
        </button>
      </li>
      }
    </ul>

    <button
      class="ml-auto underline decoration-dotted"
      variant="link"
      [brnMenuTriggerFor]="menu"
      hlmBtn
    >
      Redes sociales
    </button>
  </nav>
</div>

<ng-template #menu>
  <hlm-menu>
    @for (item of socialMediaItems; track item) {
    <a
      [href]="item.link"
      target="_blank"
      class="flex gap-x-2 items-center cursor-pointer"
      hlmMenuItem
    >
      <ng-icon name="{{ item.icon }}" hlm />
      {{ item.name }}
    </a>
    }
  </hlm-menu>
</ng-template>
