<app-wrapper>
  <section class="min-h-[100dvh] p-2 md:p-8">
    <div class="h-full grid grid-cols-6 gap-8">
      <div class="flex flex-col gap-y-8 col-span-6 md:col-span-2">
        <h2 class="text-4xl font-medium">About me</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
          aliquid vel, in, unde qui aut aperiam quidem non sapiente dolorem
          beatae quod reprehenderit! Eligendi voluptatum earum illo nobis
          deserunt non.
        </p>

        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus
          aliquid vel, in, unde qui aut aperiam quidem non sapiente dolorem
          beatae quod reprehenderit! Eligendi voluptatum earum illo nobis
          deserunt non.
        </p>

        <app-acsii-portrait></app-acsii-portrait>
      </div>

      <div class="col-span-6 md:col-span-4 h-fit" hlmCard>
        <div
          class="flex flex-row justify-between gap-8 flex-wrap md:flex-nowrap"
          hlmCardHeader
        >
          <div class="flex flex-col gap-y-2">
            <span class="font-medium">&#x2022; <i>Experience</i></span>

            <h3 class="text-4xl text-balance min-w-80 md:min-w-96" hlmCardTitle>
              Explore my profesional journey
            </h3>
          </div>

          <div class="flex flex-col items-start gap-y-2">
            <p hlmCardDescription>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque
              dignissimos pariatur exercitationem vel quidem? Voluptatem
              inventore ullam at vitae quod quia mollitia nam culpa repellendus
              labore, laudantium fuga laboriosam provident?
            </p>

            <button
              class="mt-auto px-0 underline decoration-dotted"
              variant="link"
              hlmBtn
            >
              Social medias
            </button>
          </div>
        </div>

        <div class="mt-4 grid gap-4" hlmCardContent>
          <div class="flex flex-col">
            @for (job of jobs; track job) {
            <div
              class="grid grid-cols-1 md:grid-cols-8 py-4 gap-y-6 gap-x-4 {{
                $last ? 'border-none' : 'border-b'
              }}"
            >
              <div class="flex flex-col items-start col-span-2">
                <span class="text-xl font-medium"
                  >{{ job.companyName }}, {{ job.location }}</span
                >
                <span class="text-muted-foreground"
                  >&#x2022; {{ job.date }}</span
                >
              </div>

              <div class="col-span-4">
                <span class="text-md font-medium">{{ job.position }}</span>

                <p class="text-muted-foreground">{{ job.description }}</p>
              </div>

              <div
                class="flex gap-2 items-center md:justify-end col-span-2 flex-wrap"
              >
                @for (item of job.stack; track item) {
                <div class="cursor-default" hlmBadge>{{ item }}</div>
                }
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </section>
</app-wrapper>
