<app-wrapper [isScreenSize]="true">
  <section class="h-full p-2 md:p-8">
    <div class="h-full grid grid-cols-6 gap-8">
      <div
        class="flex flex-col gap-y-8 col-span-6 md:col-span-2 overflow-hidden"
      >
        <h2 class="text-4xl font-medium">Sobre mi</h2>
        <p class="text-pretty">
          Soy un <b>Ingeniero de Software</b> con experiencia comprobada en el
          desarrollo de soluciones escalables y la optimización del rendimiento
          de sistemas. Especializado en desarrollo full-stack e integración de
          tecnologías avanzadas para mejorar la experiencia del usuario y las
          operaciones del negocio.
        </p>

        <p class="text-pretty">
          Dale un vistazo a mi trayectoria profesional y descubre cómo he
          contribuido a proyectos innovadores y desafiantes. Estoy siempre
          abierto a nuevas oportunidades y colaboraciones.
        </p>

        <div hlmAccordion>
          <div hlmAccordionItem>
            <button hlmAccordionTrigger>
              ¿Quién soy?
              <ng-icon name="lucideChevronDown" hlm hlmAccIcon />
            </button>
            <hlm-accordion-content ngSkipHydration>
              <app-acsii-portrait />
            </hlm-accordion-content>
          </div>
        </div>
      </div>

      <div class="h-full col-span-6 md:col-span-4" hlmCard>
        <div
          class="flex flex-row justify-between gap-8 flex-wrap md:flex-nowrap"
          hlmCardHeader
        >
          <div class="flex flex-col gap-y-2">
            <span class="font-medium">&#x2022; <i>Experiencia</i></span>

            <h3 class="text-4xl text-balance min-w-80 md:min-w-96" hlmCardTitle>
              Conoce mi trayectoria profesional
            </h3>
          </div>

          <div class="flex flex-col items-start gap-y-2">
            <p hlmCardDescription>
              Mi enfoque se centra en la calidad del código, la colaboración
              efectiva y la entrega de soluciones que superen las expectativas.
            </p>

            <a
              [href]="linkedinURL"
              target="_blank"
              class="mt-auto px-0 underline decoration-dotted flex gap-x-2"
              variant="link"
              hlmBtn
            >
              <ng-icon name="lucideLinkedin" hlm />
              Visita mi LinkedIn
            </a>
          </div>
        </div>

        <hr hlmCardSeparator />

        <div
          class="flex-1 flex items-center justify-center py-6 px-10"
          hlmCardContent
        >
          <hlm-carousel class="size-full mx-10">
            <hlm-carousel-content class="cursor-grab">
              @for (job of jobs; track job) {
                <hlm-carousel-item class="flex flex-col gap-y-6">
                  <div class="w-full flex justify-between">
                    <div class="flex flex-col items-start">
                      <span class="text-xl font-bold">{{ job.position }}</span>
                      <span class="text-muted-foreground"
                        >{{ job.startDate | date: "MMM yyyy" }} -
                        {{
                          job.endDate
                            ? (job.endDate | date: "MMM yyyy")
                            : "Presente"
                        }}</span
                      >
                    </div>

                    <div class="flex flex-col items-end">
                      <span class="text-xl font-medium">{{
                        job.companyName
                      }}</span>

                      <span class="text-muted-foreground"
                        >{{ job.location }}, {{ job.country }}</span
                      >
                    </div>
                  </div>

                  <p class="text-muted-foreground relative">
                    {{ job.description }}
                  </p>

                  <ul class="list-disc list-inside flex flex-col text-sm">
                    @for (achievement of job.achievements; track achievement) {
                      <li
                        class="text-muted-foreground"
                        [innerHTML]="achievement"
                      ></li>
                    }
                  </ul>

                  <div
                    class="flex gap-2 items-center md:justify-end col-span-2 flex-wrap"
                  >
                    @for (item of job.stack; track item) {
                      <div class="cursor-default rounded-none" hlmBadge>
                        {{ item }}
                      </div>
                    }
                  </div>
                </hlm-carousel-item>
              }
            </hlm-carousel-content>

            <button hlm-carousel-previous></button>
            <button hlm-carousel-next></button>

            <hlm-carousel-slide-display class="mt-1 flex justify-end" />
          </hlm-carousel>
        </div>
      </div>
    </div>
  </section>
</app-wrapper>
